:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-colour: #2196f3;
  --logo-title-color: #000000;
  --main-title-color: #ffffff;
}
body {
  background-color: #ffffff;
}

.logo {
  color: var(--accent-colour);
}
.logo-title {
  color: var(--logo-title-color);
}
/* site nav*/
.site-nav {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}
.site-nav .link.current {
  color: var(--accent-colour);
}
.nav-contacts {
  color: var(--secondary-text-color);
}
.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-colour);
}
